# --- Credenciales de Firebase (¡CRÍTICO PARA QUE NO TE BLOQUEE GITHUB!) ---
serviceAccountKey.json

# --- Estado local del juego (se sincroniza por Firebase, no por Git) ---
game_state.json

# --- Visual Studio y MASM (Archivos de compilación y basura) ---
.vs/
x64/
Debug/
Release/
*.obj
*.exe
*.ilk
*.pdb
*.idb
*.ipch

# --- Python ---
__pycache__/
*.pyc